.eventos{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px;
}

.cajaEventos {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.cajaEventos img{
    width: 30vw;
    margin: 20px;
    border-radius: 20px;
    flex: 1;
}

.cajaEventos p{
    background-color: #621D74;
    border-radius: 10px;
    width: 25vw;
    padding: 55px;
    height: 500px;
    margin: 20px;
    color: white;
}

.botonEventos{
    display: flex;
    justify-content: center;
    margin: 10px;
}

@media (max-width: 1200px){
    .cajaEventos {
        flex-direction: column;
        align-items: center;
    }
    .cajaEventos img{
        width: 50vw;
    }
    .cajaEventos p {
        width: 50vw;
        height: 250px;
        flex: 1;
    }
}

@media (max-width: 700px){
    .cajaEventos img{
        width: 70vw;
    }
    .cajaEventos p {
        width: 70vw;
        height: 250px;
        flex: 1;
    }
}