footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #55575A;
    color: white;
    justify-content: space-evenly;
    margin-top: 20px;
}

footer img {
    width: 12vw;
}

.redesSociales ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.redesSociales i {
    color: white;
    margin: 10px;
    height: 20px;
    font-size: 30px;
}

.contactanos {
    text-align: center;
}

.contactanos p{
    margin-bottom: 0;
}