.formularioRegistro{
    background-color: #621D74;
    display: flex;
    color: white;
    width: 50vw;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.formularioRegistro h3{
    text-align: center
}
.formularioRegistro form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.formularioRegistro input{
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.formularioRegistro select{
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.cajaBoton{
    display: flex;
    justify-content: center;
}
.boton {
    width: 15vw;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #91BE28;
    color: white;
}
.span-message {
    color: red;
}

@media(max-width: 1000px){
    .formularioRegistro {
        width: 60vw;
    }    
    .formularioRegistro form {
        width: 70%;
    }
}

@media (max-width: 700px){
    .formularioRegistro {
        width: 80vw;
    }
}

@media (max-width: 645px){
    .boton {
        font-size: 13px;
    }
}

@media (max-width: 332px){
    .boton {
        width: 22vw;
    }
}