.fotosDestacadas {
    width: 80%; /* Ajusta el ancho del carrusel */
    height: 500px; /* Ajusta la altura del carrusel */
    margin: auto; /* Centra el carrusel horizontalmente */
}

.fotosDestacadas .carousel-item img {
    width: 100%; 
    height: 100%; 
}