.cajaEnfoques{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.titulo{
    background-color: #621D74;
    border-radius: 10px;
    width: 70vw;
    padding: 26px;
    height: 100px;
    margin: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.enfoques {
    display: flex;
    margin: 10px;
    padding: 30px;
    justify-content: space-around;
}

.cajaEnfoquesIndividual{
    width: 30%;
    text-align: center;
    color: white;
    height: 25vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.bicitourTeam {
    background: url(../media/team.jpg) no-repeat center;
    background-size: cover;
}

.viajesBicicleta {
    background: url(../media/viajes.jpg);
    background-size: cover;
}

.bicitourGroup {
    background: url(../media/sociall.jpg);
    background-size: cover;
}

@media (max-width: 1070px){
    .titulo {
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px){
    .titulo {
        width: 90vw;
        
    }
    .cajaEnfoquesIndividual{
        height: 30vw;
        padding: 20px;
    }
    .cajaEnfoquesIndividual h3 {
        font-size: 20px;
    }
    .enfoques {
        font-size: 12px;
        padding: 0px;
    }
}

@media (max-width: 830px){
    .titulo {
        font-size: 25px;
    }
}

@media (max-width: 700px){
    .titulo {
        font-size: 20px;
    }
}

@media(max-width:600px){
    .cajaEnfoquesIndividual{
        font-size: 10px;
    }
    .cajaEnfoquesIndividual h3 {
        font-size: 15px;
    }
}