.videoblogs{
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Oswald", sans-serif;
    background-color: #621D74;
    background-color: rgba(98, 29, 116, 0.5);
    color: white;
    margin: 10px;
}

.videoblogs a{
    text-decoration: none;
    height: 15vw;
}

.boxesVideoblogs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.boxesVideoblogs button {
    background: none;
    color: white;
    border: none;
}

.bogota{
    width: 25vw;
    height: 25vh;
    background-image: url('../media/Bogota.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bogota a{
    text-decoration: none;
    color: white;
}
.colombia{
    width: 25vw;
    height: 25vh;
    background-image: url(../media/Medellin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colombia a{
    text-decoration: none;
    color: white;
}
.mundo{
    width: 25vw;
    height: 25vh;
    background-image: url('../media/Mexico.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mundo a{
    text-decoration: none;
    color: white;
}

@media (max-width: 930px){
    .videoblogs {
        height: 330px;
    }
    .boxesVideoblogs button {
        font-size: 30px;
    }
}

@media (max-width: 700px){
    .videoblogs {
        height: 270px;
    }
    .boxesVideoblogs button {
        font-size: 25px;
    }
}

@media (max-width: 540px){
    .videoblogs {
        height: 250px;
    }
    .boxesVideoblogs button {
        font-size: 18px;
    }
    .videoblogs a {
        height: 17vw;
    }
    .mundo {
        margin: 10px;
    }

    .bogota{
        margin: 10px;
    }

    .colombia{
        margin: 10px;
    }
}